// импорт библиотек
@import "myLibs/_fonts.scss";
@import "normalize";
@import "myLibs/_color-theme.scss";
@import "myLibs/_animation.scss";
@import "myLibs/_buttons.scss";
@import "myLibs/_mixin.scss";
@import "myLibs/_templates.scss";
@import "myLibs/_media.scss";
@import "myLibs/_sprite.scss";
@import "myLibs/_icons.scss";

// Подключенные файлы:
// 	1.Стили myLib:
//      _animation.scss
//	    _buttons.scss
//	    _color-theme.scss
//	    _fonts.scss
//	    _media.scss
//	    _mixin.scss
//	    _sprite.scss
//	    _sprite-mixin.scss
//      _tabs.scss
// 	    _templates.scss
//  2. normalize

// ==================ОБЩИЕ СТИЛИ ДЛЯ ВСЕХ СТРАНИЦ=====================
//	Оглавление:

//	1. Пользовательские стили
//  	1.1 body, :root
//		1.2 Ссылки
//		1.3 Списки
//		1.4 Заголовки
//	2. Типографика
//	3. Сетка
//	4. Полосы
//	5. Clearfix
//	6. Общие стили

// Переменные для общего использования:

// 1. ПОЛЬЗОВАТЕЛЬСКИЕ СТИЛИ ===============================

//1.1 body, :root; ====================

head,
body {
	overflow-x: hidden;
}

:root {
	// элемент HTML
	font-size: 1em;
	@include media-breakpoint-down(lg) {
		font-size: 0.95rem;
	}
	@include media-breakpoint-down(xs) {
		font-size: 0.9rem;
	}
	@include media-breakpoint-down(xxs) {
		font-size: 0.85em;
	}
}

body {
	font: 400 1rem/1.5 $contentFont;
	color: $font-color;
}

//1.2 Ссылки ====================
.link {
	display: block;
	box-sizing: border-box;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	transition: 0.2s ease-in;
	color: inherit;
	cursor: pointer;
	&::before {
		transition: 0.2s ease-in;
	}
	&_light {
		color: $font-light-color;
	}
}

/* a[href^="tel:"] {
	display: block;
	padding-bottom: .5em;
} */

//1.3 Списки ====================

ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}
li {
	margin: 0;
}

//1.4 Заголовки и текст====================

/* h1, h2, h3, h4, h5 {
	font: { // свойство font сбивает line-height до установок браузера, поэтому font пишеться развернуто;
		family: $titleFont;
		weight: 300;
	}
	text-transform: uppercase;
} */

h1 {
	font-size: 2.125rem; // 36px
}

h2 {
	font-size: 1.5rem; // 24px
	font-weight: 400;
}

h3 {
	font-size: 1.3125rem; // 21px
}

h4 {
	font-size: 1.125rem; //18px
}

h5 {
	font: {
		size: 0.875rem; //14px
		weight: 500;
	}
	letter-spacing: 0.1em;
	word-spacing: 0.4em;
}

.title {
	position: relative;
	text-align: center;
	font-family: $titleFont;
	font-weight: 700;
	text-transform: uppercase;
	color: $font-dark-color;
	font-size: 1.875em;
	margin-bottom: 0;
	transition: color .2s ease-in;
	&_section {
		line-height: 1.6;
		padding-bottom: 1.05em;
		margin-bottom: 1.4em;
		letter-spacing: -0.7px;
		@include media-breakpoint-down(sm) {
			margin-bottom: 1em;
			padding-bottom: .8em;
		}
	}
	&_size_large {
		//font-size: 8.75rem;
		font-size: 9.3rem;
		@media(max-width: 1600px) and (orientation: landscape) {
			font-size: 6rem;
		}
		@include media-breakpoint-down(1024px) {
			font-size: 6rem;
		}
		@include media-breakpoint-down(sm) {
			font-size: 3.5rem;
		}
		@media(max-width: 768px) and (orientation: landscape){
			font-size: 2.3rem;
		}
		@media(max-width: 768px) and (orientation: landscape) and (max-height: 400px) {
			font-size: 1.8rem;
		}
		@include media-breakpoint-down(xs) {
			font-size: 2rem;
		}
	}
	&_size_medium {
		font-size: 1.125em;
	}
	&_size_small {
		font-size: .875em;
	}
	&_size_mini {
		font-size: .75em;
	}
	&_color_light {
		color: $font-light-color;
	}
	&_color_warn {
		color: $warn-color;
	}
	&_offset_none {
		margin: 0;
	}
	&_align_left {
		text-align: left;
	}
	&_weight_regular {
		font-weight: 400;
	}
}

.subtitle {
	display: block;
	font-family: $subtitleFont;
	font-size: 1.5rem;
	text-transform: initial;
	&_size_large {
		font-size: 4.5rem;
		@media(max-width: 1600px) and (orientation: landscape) {
			font-size: 3.5rem;
		}
		@include media-breakpoint-down(1024px) {
			font-size: 3rem;
		}
		@media(max-width: 768px) {
			font-size: 2.5rem;
		}
		@media(max-width: 768px) and (orientation: landscape) and (max-height: 400px) {
			font-size: 1.6rem;
		}
		@include media-breakpoint-down(xs) {
			font-size: 1.5rem;
		}
	}
	&_color_dark {
		color: $font-dark-color;
	}
	&_author {
		position: relative;
		padding-left: 70px;
	}
	&_section {
		letter-spacing: -0.2px;
	}
}

.text {
	text-align: center;
	font-size: .9375em;
	font-size: 15px;
	letter-spacing: .01em;
	line-height: 1.6;
	margin: 0;
	&_style_italic {
		font-style: italic;
	}
	&_align_left {
		text-align: left;
	}
	&_color_light {
		color: $font-light-color;
	}
	&_color_origin {
		color: $font-color;
	}
	&_size_large {
		font-size: 1.5em;
		@include media-breakpoint-down(sm) {
			font-size: 1.1em;
		}
		@media(max-width: 320px) {
			font-size: 1em;
		}
	}
	&_section {
		letter-spacing: .1px;
	}
}

// 2. ТИПОГРАФИКА ===============================

h1,
h2,
h3,
h4,
h5,
p {
	margin: {
		bottom: 0;
		top: 0;
	}
}
h1 {
	margin-bottom: 2em;
}

h2 {
	margin-bottom: 3em;
}

h3 {
	margin-bottom: 2em;
}

h4 {
	margin-bottom: 1.5em;
}

p {
	margin-bottom: 1em;
}

small {
	font-size: 0.9em;
}

// 3. СЕТКА ===============================

$container-padding: 0.937rem; // 15px

.container {
	box-sizing: border-box;
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
	&_offset {	
		padding: 0 $container-padding;
	}
	&_size_mini {
		max-width: 1000px;
	}
	// @media(max-width: 1260px) {
	// 	max-width: 1100px;
	// }
	// @include  media-breakpoint-down($max-width: lg) {
	// 	max-width: 940px
	// }
	// @include  media-breakpoint-down($max-width: md) { //-61px
	// 	max-width: 707px
	// }
	// @include  media-breakpoint-down($max-width: sm) {
	// 	max-width: 515px
	// }
}


%col-1-4 {
	width: 25%;
}

%col-3-4 {
	width: 75%;
}

%col-1-3 {
	width: 33%;
}

%col-2-3 {
	width: 66%;
}

%col-1-2 {
	width: 50%;
}

// 4. ПОЛОСЫ ===============================

.row {
	padding-top: 85px;
	padding-bottom: 110px;
	@media(max-width: 991px) {
		padding-top: 80px;
		padding-bottom: 90px;
	}
	@media(max-width: 576px) {
		padding-top: 60px;
		padding-bottom: 75px;
	}

}

/* $margin-box: 5em;

.row {
	background-color: $row-color;
}

.alt-row {
	background-color: $alt-row-color;
}

.row, .alt-row {
	padding-top: $row-padding-top;
	padding-bottom: $row-padding-bottom;
	@include media-breakpoint-down(md) {
		@media (orientation: landscape) {
			padding-top: $row-padding-top*.8;
			padding-bottom: $row-padding-bottom*.8;
		}
	}
} */

// 5. Clearfix ===============================

.clearfix::before,
.clearfix::after {
	content: "";
	display: block;
}
.clearfix::after {
	clear: both;
}
.clearfix {
	clear: both;
	*zoom: 1;
}

// 6. Другое ===============================
blockquote {
	margin: 0;
}

.visuallyhidden {
	display: none;
}

.block {
	display: block;
}

.slider {
    position: relative;
    &-buttons {
        &__left {
            left: 0px;
            transform: translate(50%, -50%);
        }
        &__right {
            right: 0px;
            transform: translate(-50%, -50%);
        }
        &__left,
        &__right {
            position: absolute;
            top: 50%;
            background-color: transparent;
        }
    }
}