// импорт библиотек
@import "_general.scss";

// Подключенные файлы:
// 1. _general.scss (общие стили);

//	Оглавление:

//	7. Главная страница
//	    7.1 Шапка
//	    7.2 Основной контент
//	    7.3 Подвал сайта

// Переменные для общего использования:

// 7 ГЛАВНАЯ СТРАНИЦА ===================================
//  7.1 ШАПКА ===========================================
.header {
	font-size: 1rem;
    text-align: center;
	background: {
		repeat: no-repeat;
		position: 50% 50%;
		size: cover;
    }
    @media(min-width: 768px) {
        @include retina-between(1, 1.99) {
            background-image: $gradient, url("../img/banner-1920.jpg");
        }
        @include retina-min(2) {
            background-image: $gradient, url("../img/banner-3840.jpg");
        }
    }
    @media(max-width: 767.98px) {
        @include retina-between(1, 1.99) {
            background-image: $gradient, url("../img/banner-1000.jpg");
        }
        @include retina-min(2) {
            background-image: $gradient, url("../img/banner-1536.jpg")
        }
    }
    &-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
        position: relative;
        @media(max-width: 1300px) {
            padding-left: 15px;
            padding-right: 15px;
        }
        @media(max-width: 768px) and (orientation: landscape) and (max-height: 400px) {
            min-height: 120vh;
        }
    }
	&-top {
		display: flex;
        justify-content: space-between;
        align-items: flex-end;
        min-height: 30px;
        padding-top: 30px;
    }
    &-slider {
        @include media-breakpoint-down(xs) {
            width: 50%;
            margin: auto;
            overflow: hidden;
        }
    }
    &-buttons {
        display: none;
        @include media-breakpoint-down(xs) {
            display: block;
        }
    }
	&__btn {
		display: inline-block;
		position: relative;
		padding: 5px 29px;
        border: 3px solid $font-light-color;
        color: $font-disable-color;
        @media(max-width: 576px) and (orientation: landscape) {
            font-size: .8rem;
        }
        &:hover {
            color: $font-light-color;
        }
		&::before {
			@include absolute-pseudo($width: 60px, $height: 3px);
			@include absolute-centering($top: -180%);
            background-color: $font-light-color;
            @include media-breakpoint-down(sm) {
                display: none;
            }
		}
		&:hover::before {
			background-color: $warn-color;
		}
    }
    &-title {
        font-size: 1rem;
        position: absolute;
        @include absolute-centering($top: 50%);
        @include media-breakpoint-down(xs) {
            top: 45%;
        }
        @media(max-width: 768px) and (orientation: landscape) {
            top: 45%;
        }
        &__title {
            color: $font-light-color;
            line-height: .93;
            margin-bottom: 110px;
            letter-spacing: -0.025em;
            @include media-breakpoint-down(sm) {
                margin-bottom: 30px;
                .block {
                    display: inline;
                }
            }
            @media(max-width: 768px) and (orientation: landscape) and (max-height: 400px) {
                margin-bottom: 15px;
            }
            @include media-breakpoint-down(xs) {
                margin-bottom: 15px;
            }
            &::before {
                display: none;
            }
        }
    }
    &__subtitle {
        line-height: 2.15;
        @include media-breakpoint-down(xs) {
            line-height: 1.2;
            margin-bottom: 15px;
        }
        @media(max-width: 576px) and (orientation: landscape) {
            line-height: 1;
            margin-bottom: 10px;
        }
    }
	&__navigation {
        @include media-breakpoint-down(xs) {
            position: relative;
            margin-bottom: 15px;
        }
        .link {
            position: relative;
            padding: 15px 0;
            border-top: 3px solid $font-disable-color;
            color: $font-disable-color;
            @include media-breakpoint-down(md) {
                color: $light-color;
                border-top-color: $light-color;
            }
            @include media-breakpoint-down(sm) {
                border-top: none;
                text-align: center;
                span {
                    display: block;
                }
            }
            @include media-breakpoint-down(xs) {
                font-size: 1.3rem;
                margin-left: auto;
                margin-right: auto;
                span {
                    display: inline-block;
                }
            }
            &::before {
                @include absolute-pseudo($height: 3px);
                left: 0;
                top: -3px;
                background-color: $warn-color;
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
            &:hover {
                color: $font-light-color;
                border-color: $font-light-color;
            }
            &:hover::before {
                width: 70px;
            }
        }
        .menu__item {
            width: 24%;
            @include media-breakpoint-down(xs) {
                min-width: 100%;
            }
        }
	}
}

.logo {
	color: $font-light-color;
    font-family: $titleFont;
    font-weight: 700;
    margin: 0;
    line-height: 1;
    &_size_small {
        font-size: 1.875rem;
    }
    &_size_large {
        font-size: 2.875rem;
    }
    &_color_dark {
        color: #ccc;
    }
}

//  7.2 ОСНОВНОЙ КОНТЕНТ ================================
//      7.2.01 About
.about {
	font-size: 1rem;
    @media(max-width: 1300px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}
//      7.2.02 Counter
.counter {
    text-align: center;
    font-family: $titleFont;
    text-transform: uppercase;
    color: $font-light-color;
    background-color: $icon-color;
    &__desc {
        font-size: .875em;
        margin: 0;
        text-align: center;
        @include media-breakpoint-down(sm) {
            word-spacing: 250px;
        }
        @include media-breakpoint-down(xs) {
            word-spacing: initial;
        }
    }
    &__number {
        font-size: 4.5em;
        font-weight: 700;
        line-height: 1.44;
        @include media-breakpoint-down(xs) {
            line-height: 1.2;
            font-size: 4em;
        }
    }
}
//      7.2.03 Services
.services {
    font-size: 1rem;
    &__box {
        padding-bottom: 47px;
        padding-top: 21px;
        &:last-of-type {
            padding-bottom: 0;
        }
        @include media-breakpoint-down(md) {
            display: flex;
            justify-content: space-between;
        }
        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }
    }
}
//      7.2.04 Design
.design {
    min-height: 655px;
    position: relative;
    margin-bottom: 20px;
    background: {
        color: $disable-color;
        repeat: no-repeat;
        position: 50% 100%, 50% 50%;//50% 50%, 50% 100%;
        size: auto auto, cover;
    }
    @media(min-width: 768px) {
        @include retina-between(1, 1.99) {
            background-image: url('../img/design/table.png'), url("../img/design/fon-1980.jpg");
        }
        @include retina-min(2) {
            background-image: url('../img/design/table.png'), url("../img/design/fon-3960.jpg");
        }
    }
    @media(max-width: 767.98px) {
        @include retina-between(1, 1.99) {
            background-image: url('../img/design/table.png'), url("../img/design/fon-1000.jpg");
        }
        @include retina-min(2) {
            background-image: url('../img/design/table.png'), url("../img/design/fon-1536.jpg")
        }
    }
    @include media-breakpoint-down(md) {
        margin-bottom: 0;
        overflow: hidden;
        background-size: 400px auto, cover;
        padding-bottom: 0;
    }
    @include media-breakpoint-down(xs) {
        min-height: 600px;
        background-size: 350px auto, cover;
    }
    @media(max-width: 450px) {
        background-size: 280px auto, cover;
        min-height: 550px;
    }
}
.phone {
    position: absolute;
    width: 274px;
    height: 476px;
    top: 55%;
    left: 56.5%;
    @include retina-between(1, 1.99) {
        background: url(../img/design/phone.png) no-repeat 50% 50% / cover;
    }
    @include retina-min(2) {
        background: url(../img/design/phone-2x.png) no-repeat 50% 50% / cover;
    }
    @include media-breakpoint-down(md) {
        width: 180px;
        height: 311px;
        background-position: 50% 50%;
        background-size: cover;
        top: 70%;
    }
    @media(max-width: 450px) {
        width: 150px;
        height: 260px;
        left: 55%;
    }
}
//      7.2.05 Activity
.activity {
    @media(max-width: 1300px) {
        padding-left: 15px;
        padding-right: 15px;
    }
    &-box {
        display: flex;
        justify-content: space-between;
        margin-top:87px;
        @include media-breakpoint-down(md) {
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }
        @include media-breakpoint-down(xs) {
            margin-top: 35px;
        }
    }
    &-image {
        position: relative;
        flex-basis: 49%;
        margin-right: 15px;
        max-height: 397px;
        @include media-breakpoint-down(md) {
            margin: 0;
            margin-bottom: 20px;
        }
        @include media-breakpoint-down(600px) {
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
    &-content {
        flex-basis: 50.2%;
    }
}
//      7.2.06 Comments
.comments {
    font-size: 1rem;
    padding: 104px 100px 126px 100px;
    @media(max-width: 991px) {
        padding: 80px;
	}
	@media(max-width: 576px) {
        padding: 70px 60px;
	}
    &-list {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 100%;
        @include media-breakpoint-up(lg) {
          transition: .3s ease-in;
        }
    }
    &_theme_dark {
        background-color: $disable-color;
    }
    &-box {
        position: relative;
        overflow: hidden;
        max-width: 82%;
        margin: auto;
    }
    &-left-arrow,
    &-right-arrow {
        top: 41%;
        @include media-breakpoint-down(sm) {
            top: 35%;
        }
    }
    &-left-arrow {
        @include media-breakpoint-down(md) {
            left: -50px;
        }
    }
    &-right-arrow {
        @include media-breakpoint-down(md) {  
            right: -50px;
        }
    }
}
.comment {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 100%;
    font-size: 1rem;
    @include media-breakpoint-down(md) {
        align-items: flex-start;
    }
    &__image {
        padding: 40px;
        margin-right: 30px;
        border: 3px solid $icon-color;
    }
    &__ava {
        min-width: 210px;
        height: 210px;
        margin-right: 30px;
        overflow: hidden;
        border-radius: 50%;
        @include media-breakpoint-down(md) {
            min-width: 80px;
            max-width: 80px;
            height: 80px;
        }
        @include media-breakpoint-down(xs) {
            display: none;
        }
    }
    &__text {
        margin-bottom: 9px;
        letter-spacing: -0.35px;
    }
    &__content {
        flex-basis: 79%;
        @include media-breakpoint-down(sm) {
            flex-basis: 100%;
        }
    }
    &__author {
        @include media-breakpoint-down(md) {
            margin-bottom: 0;
        }
    }
}
.icon-comments {
    padding-top: 73px;
    padding-bottom: 36px;
    @include media-breakpoint-down(md) {
        padding-bottom: 73px;
    }
    @media(max-width: 991px) {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	@media(max-width: 576px) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}
.icon-comment {
    align-items: flex-start;
}
.icon-comment-image {
    @include media-breakpoint-down(sm) {
        padding: 15px;
        svg {
            width: 42px;
            height: 42px;
        }
    }
    @include media-breakpoint-down(xs) {
        display: none;
    }
}
//      7.2.07 Activity

//      7.2.08 Labels
.labels {
    background-color: $disable-color;
    padding: 60px 0;
    &-box {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(6, calc(100% / 6));
        @media(max-width: 1300px) {
            padding-left: 15px;
            padding-right: 15px;
        }
        @include media-breakpoint-down(md) {
            grid-template-columns: repeat(3, minmax(127px, calc(100% / 6)));
            grid-row-gap: 10px;
        }
        @include media-breakpoint-down(xs) {
            grid-template-columns: repeat(2, minmax(127px, calc(100% / 6)));
            justify-content: space-around;
        }
    }
}
.label {
    flex-basis: 200px;
    height: 130px;
    overflow: hidden;
    background-size: 50% 50%;
    $position: ("one": 0, "two": 20%, "three": 40%, "four": 60%, "five": 80%, "six": 100%);
    @each $name, $value in $position {
        &_#{$name} {
            background: url('../img/labels/brends.png') no-repeat #{$value} 50%;           
            @media(max-width: 991px) and (min-width: 576px) {
                @if $name == "three" {
                    background-position: 39% 50%;
                }
                @if $name == "four" {
                    background-position: 60.5% 50%;
                }
                @if $name == "six" {
                    background-position: 101% 50%;
                }
            }
            @media(max-width: 576px) {
                @if $name == "two" {
                    background-position: 19% 50%;
                }
                @if $name == "three" {
                    background-position: 39.3% 50%;
                }
                @if $name == "five" {
                    background-position: 80.5% 50%;
                }
            }
        }
    }
}

//      7.2.08 Arts
.arts {
    padding-bottom: 0;
}

.arts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    grid-auto-flow: row;
    grid-auto-rows: minmax(auto, 390px);
    margin-top: 97px;
    @include media-breakpoint-down(md) {
        grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
        grid-template-rows: repeat(3, 250px);
        margin-top: 50px;
    }
    @include media-breakpoint-down(sm) {
        grid-template-columns: 30%, min(40%), 30%;
        grid-template-rows: repeat(3, 200px);
    }
    @include media-breakpoint-down(xs) {
        margin-top: 35px;
        grid-template-columns: 100%;
        grid-template-rows: repeat(7, calc(50vw));
    }
    @media(max-width: 576px) and (orientation: landscape) {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(4, calc(100vw / 2));
    }
    &-icon {
        display: block;
        margin-bottom: 12px;
    }
    &-text {
        margin-top: 6px;
        letter-spacing: -0.25px;
    }
}
.ocean {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
    @include media-breakpoint-down(md) {
        grid-row: 1 / -1;
        grid-column: 2 / 3;
    }
    @include media-breakpoint-down(xs) {
        grid-row: -2 / -3;
        grid-column: 1 / -1;
    }
}

//      7.2.09 Comments
.feedbacks {
    background: {
		repeat: no-repeat;
		position: 50% 50%;
		size: cover;
    }
    @media(min-width: 768px) {
        @include retina-between(1, 1.99) {
            background-image: url("../img/feedbacks/fon-1980.jpg");
        }
        @include retina-min(2) {
            background-image: url("../img/feedbacks/fon-3840.jpg");
        }
    }
    @media(max-width: 767.98px) {
        @include retina-between(1, 1.99) {
            background-image: url("../img/feedbacks/fon-1000.jpg");
        }
        @include retina-min(2) {
            background-image: url("../img/feedbacks/fon-1536.jpg")
        }
    }
}



//      7.2.09 Map
.blog {
    @media(max-width: 1300px) {
        padding-left: 15px;
        padding-right: 15px;
    }
    &-title {
        letter-spacing: -0.25px;
        margin-bottom: 10px;
    }
    &-link {
        color: $font-color;
        &:hover {
            color: $font-dark-color;
        }
        &:hover .icon {
            fill: $icon-color-hovered
        }
    }
    &-item {
        width: 31.66%;
        @include media-breakpoint-down(sm) {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center; 
            & + .blog-item {
                margin-top: 35px;
            }
        }
        &__image {
            height: 240px;
            position: relative;
            margin-bottom: 15px;
            @include media-breakpoint-only(md) {
                height: 24vw;
            }
            @include media-breakpoint-down(sm) {
                max-width: 320px;
            }
        }
        &__date {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            @include absolute-centering($top: 94%, $left: -3%);
            font-size: 1.875rem;
            padding: 12px 15px;  
            background-color: $icon-color;
            font-weight: 700;
            font-family: $titleFont;
            line-height: 1;
            color: $light-color;
        }
        &__month {
            font-weight:400;
            font-size: .9375rem;
            font-style: italic;
            font-family: $contentFont;
        }
        &__counter {
            padding-top: 14px;
            border-top: 1px solid #ededed;
            @include media-breakpoint-down(sm) {
                padding-top: 10px;
            }
        }
    }
    &-item-text {
        letter-spacing: -0.35px;
        margin-bottom: 15px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 10px;
        }
        @include media-breakpoint-down(xs) {
            text-align: center;
        }
    }
    &-item-link {
        margin-left: 20px;
    }
}



//      7.2.1 Map
.map {
    height: 200px;
    background: {
		repeat: no-repeat;
		position: 50% 50%;
		size: cover;
    }
    @media(min-width: 768px) {
        @include retina-between(1, 1.99) {
            background-image: url("../img/map/fon-1980.jpg");
        }
        @include retina-min(2) {
            background-image: url("../img/map/fon-3840.jpg");
        }
    }
    @media(max-width: 767.98px) {
        @include retina-between(1, 1.99) {
            background-image: url("../img/map/fon-1000.jpg");
        }
        @include retina-min(2) {
            background-image: url("../img/map/fon-1536.jpg")
        }
    }
    position: relative;
    &__pointer {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include absolute-centering($top: 44%);
    }
    &__title {
        font-size: 1.5rem;
        margin-top: 10px;
        letter-spacing: -0.5px;
        &::before {
            @include absolute-pseudo(60px, 3px);
            @include absolute-centering(50%, 148%);
            background-color: $warn-color;
        }
    }
    &__link:hover .title{
        color: $warn-color-hovered;
    }
    &__link:hover .icon {
        fill: $warn-color-hovered;
    }
}
//  7.3 ПОДВАЛ САЙТА ====================================
.footer {
    padding-top: 69px;
    @media(max-width: 1300px) {
        padding-left: 15px;
        padding-right: 15px;
    }
    &-grid {
        display: grid;
        grid-template-areas: "a b c"
                             "d b c"
                             "e e e";
        grid-template-columns: 39.2% 30% 22.45%;
        grid-template-rows: min(213px) repeat(2, auto);
        justify-content: space-between;
        @include media-breakpoint-down(1230px)  {
            grid-template-areas: "a a a"
                                 "b c d"
                                 "e e e";
            grid-template-columns: repeat(2, 33%) 1fr;
            grid-template-rows: repeat(3, auto);                     
        }       
        @include media-breakpoint-down(md) {
            grid-template-areas: "a a a a"
                                 "b b c c"
                                 "d d d d"
                                 "e e e e";
            grid-template-columns: repeat(4, 25%);
            grid-template-rows: repeat(4, auto);    
        }
        @include media-breakpoint-down(sm) {
            grid-template-areas: "a" "b" "c" "d" "e";
            grid-template-columns: repeat(1, 100%);
            grid-template-rows: repeat(5, auto);
        }
    }
    &-desc {
        grid-area: a;
        @include media-breakpoint-down(1230px) {
            margin-bottom: 30px;
        }
        &__content {
            letter-spacing: 0.1px;
        }
        .logo {
            margin-bottom: 31px;
            margin-left: -4px;
            letter-spacing: -1px;
            @include media-breakpoint-down(md) {
                text-align: center;
            }
        }
    }
    .following {
        grid-area: d;
        @include media-breakpoint-down(md) {
            margin-top: 30px;
        }
        &__amount {
            font-family: $titleFont;
            font-size: 14px;
            font-weight: 600;
            color: $font-dark-color;
            letter-spacing: -.3px;
            margin-bottom: 13px;
            span {
                font-size: 18px;
                font-weight: 700;
            }
        }
        &-text {
            letter-spacing: -0.25px;
            margin-right: 23px;
            @include media-breakpoint-down(xs) {
                flex-basis: 100%;
                text-align: left;
                margin-bottom: 10px;
            }
        }
    }
    &-blog {
        grid-area: b;
    }
    &-instagram {
        grid-area: c;
        @include media-breakpoint-down(1230px) {
            justify-self: center;
        }
        @include media-breakpoint-down(md) {
            justify-self: end;
        }
        @include media-breakpoint-down(sm) {
            justify-self: inherit;
            margin-top: 30px;
        }
    }
    .instagram-grid {
        display: grid;
        grid-template-columns: repeat(3, 88px);
        grid-template-rows: repeat(3, 88px);
        grid-gap: 2px;
        @include media-breakpoint-down(sm) {
            grid-template-columns: repeat(auto-fit, 88px);
            grid-auto-rows: 88px;
            grid-template-rows: 88px;
        }
        &__item {
            position: relative;
            max-height: 100%;
            &::before {
                @include absolute-pseudo(100%, 100%);
                @include absolute-centering();
                transition: background-color ease-out .2s;
                z-index: 10;
            }
            &:hover::before {
                background-color: hsla(0, 0, 0, .3); 
            }
        }
        &__view {
            font: {
                size: 13px;
                family: $contentFont;
                style: italic;
            }
            color: #333;
            margin-top: 16px;
            transition: none;
            letter-spacing: -0.4px;
            &:hover {
                color: #ccc;
            }
        }
    }
    &-copyright {
        grid-area: e;
        display: flex;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 30px;
        margin-top: 62px;
        border-top: 1px solid;
        @include media-breakpoint-down(sm) {
            margin-top: 30px;
        }
        &__title {
            text-transform: inherit;
            letter-spacing: -0.1px;
        }
        &__link {
            text-decoration: none;
            color: $warn-color;
            &:hover {
                color: $warn-color-hovered;
            }
        }
    }
    &-date {
        margin-top: 10px;
        color: $font-color;
        font: {
            size: 13px;
            style: italic;
        }
    }
    &-link {
        transition: none;
        &:hover {
            color: $font-color;
        }
    }
    &-title {
        margin-top: 6px;
        margin-bottom: 34px;
        letter-spacing: -.1px;
        @include media-breakpoint-down(md) {
            margin-top: 0;
            margin-bottom: 20px;
        }
    }
}

// 7.4 ОСТАЛЬНЫЕ СТИЛИ ==================================
//7.4.01 menu 
.menu {
	font-size: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__item {
		text-transform: uppercase;
		font-family: $titleFont;
        font-size: 0.875em;
        
		span {
			font-size: 1.5em;
			font-weight: 700;
		}
	}
	&__item_size_large {
		font-size: 1.125em;
    }
    &__item_align_left {
        text-align: left;
    }
}
.menu-header {
    @include media-breakpoint-down(md) {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        background-color: hsla(0, 0, 0, .75);
        z-index: 10;
        width: 40vmax;
        padding-top: 2em;
        padding-right: 2em;
        transition: .2s ease-in;
        height: 100%;
        overflow: auto;
        direction: rtl;
        .menu {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0;
            padding-bottom: 50px;
        }
    }
    @include media-breakpoint-down(xs) {
        width: 60vw;
    }
    &_active {
        transform: initial;
    }
    &-icon {
        margin-left: 2.8em;
        @include media-breakpoint-down(md) {
            margin: 0;
        }
    }
    @include media-breakpoint-down(md) {
        .menu__item + .menu__item {
            margin-top: 30px;
        }
    }
    &-item {
        position: relative;
        margin-left: 4.2em;
        @include media-breakpoint-down(md) {
            margin: 0;
        }
        &::before {
            @include absolute-pseudo(100%, 3px);
            top: calc(100% + .35em);
            background-color: transparent;
        }
        &:hover {
            color: $success-color;
        }
        &:hover::before {
            background-color: $success-color;
        }
    }
}


//7.4.02 list 
.list {
    font-size: 1rem;
	display: flex;
    justify-content: space-between;
    &__item {
        display: flex;
        justify-content: space-between;
    }
    &__image {
        &_small {
            min-width: 110px;
            height: 110px;
        }
        &_style_round {
            border-radius: 50%;
            overflow: hidden;
        }
    }
}
.list-about {
    margin-top: 97px;
    @include media-breakpoint-down(md) {
        margin-top: 50px;
    }
    @include media-breakpoint-down(xs) {
        flex-direction: column;
        align-items: center;
        margin-top: 35px;
    }
    .list__item {
        width: 31.66%;
        @media(max-width: 1300px) {
            width: 32.5%;
        }
        @include media-breakpoint-down(xs) {
            width: 100%;
            & + .list__item {
                margin-top: 20px;
            }
        }
    }
    .list__image {
        width: 100%;
        height: 250px;
        @include media-breakpoint-down(md) {
            height: 200px;
        }
        @include media-breakpoint-down(sm) {
            max-height: 150px;
        }
    }
}

.list-services {
    @include media-breakpoint-up(lg) {
        &:not(:last-of-type) {
            padding-bottom: 47px;
            margin-bottom: 47px;
            border-bottom: 1px solid $dark-color;
        }
    }
    @include media-breakpoint-down(md) {
        flex-direction: column;
        flex-basis: 48%;
    }
    @include media-breakpoint-down(sm) {
        flex-basis: 100%;
        & + & {
            margin-top: 30px;
        }
    }
    .list__item {
        flex-basis: 31.6%;
        @include media-breakpoint-down(md) {
            flex-basis: 100%;
            & + .list__item {
                margin-top: 30px;
            }
        }
        @include media-breakpoint-down(sm) {
            justify-content: flex-start;
            max-width: 450px;
            margin: auto;
        }
        @include media-breakpoint-down(xs) {
            flex-direction: column;
            align-items: center;
            & + .list__item {
                margin-top: 35px;
            }
        }
    }
    .list__image {
        margin-right: 7.3%;
        margin-top: 3px;
        @include media-breakpoint-down(sm) {
            margin: 0;
            margin-right: 30px;
        }
        @include media-breakpoint-down(xs) {
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
    &-title {
        margin-bottom: 13px;
        line-height: 1;
        @include media-breakpoint-down(xs) {
            margin-bottom: 10px;
        }
    }
    &-content {
        @include media-breakpoint-down(xs) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &-text {
        @include media-breakpoint-down(xs) {
            text-align: center;
        }
    }
}
.list-activity {
    flex-direction: column; 
    border-top: none;            
    .list__item {
        display: flex;
        flex-direction: column;
        border: 1px solid $border-disable-color;
    }
    .list__item + .list__item  {
        margin-top: 10px;
    }
    .list__title {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 18px 12px 15px;
        &::after {
            @include absolute-pseudo(100%, 1px);
            left: 0;
            bottom: 0px;
            transform: translateY(100%);
            background-color: $border-disable-color;
        }
    }
    .list__content {
        box-sizing: border-box;
        padding: 15px;
	    letter-spacing: -0.22px;
        padding: 0 45px 0 19px;
        overflow: hidden;
        @include media-breakpoint-up(lg) {
            transition: height .3s ease-in-out;
        }
        &_off {
            height: 0;
        }
    }
    .list__text {
        margin: 15px 0 20px;
    }
    &-icon {
        margin-right: 8px;
    }
}
.list-members {
    margin-top: 87px;
    @include media-breakpoint-down(md) {
        margin-top: 50px;
    }
    @include media-breakpoint-down(xs) {
        margin-top: 35px;
    }
    @include media-breakpoint-down(sm) {
        flex-direction: column;
        align-items: center;
    }
    & > .list__item {
        flex-basis: 31.66%;
        display: flex;
        flex-direction: column;
        @include media-breakpoint-down(md) {
            flex-basis: 32.5%;
        }
        @include media-breakpoint-down(sm) {
            max-width: 370px;
            & + .list__item {
                margin-top: 20px;
            }
        }
    }
    .list__image {
        width: 100%;
        height: 470px;
        margin-bottom: 26px;
        @include media-breakpoint-down(md) {
            height: 350px;
        }
        @include media-breakpoint-down(sm) {
            height: 300px;
            margin-bottom: 10px;
        }
        @media(max-width: 576px) and (orientation: landscape) {
            height: 250px;
            img {
                object-position: 50% 30%;
            }
        }
    }
    &-title {
        margin-bottom: 4px;
        letter-spacing: -0.5px;
    }
    &-text {
        letter-spacing: -0.2px;
    }
}
.list-feedbacks {
    margin-top: 88px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 51px;
    @include media-breakpoint-down(md) {
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);
        margin-top: 50px;
        grid-row-gap: 30px;
    }
    .list__item {
        box-sizing: border-box;
        padding: 0 3.5%;
        @include media-breakpoint-down(md) {
            padding: 0;
            flex-direction: column;
            align-items: center;
        }
    }
    .list__image {
        margin-right: 30px;
        margin-left: 6px;
        @include media-breakpoint-down(md) {
            margin: 0;
        }
    }
    &-author {
        display: block;
        position: relative;
        padding-bottom: 17px;
        margin-bottom: 19px;
        letter-spacing: -.35px;
        @include media-breakpoint-down(md) {
            text-align: center;
            &::before {
                display: none;
            }
        }
        @include media-breakpoint-down(xs) {
            padding-bottom: 10px;
            margin-bottom: 15px;
        }
    }
    &-title {
        margin-top: 6px;
        margin-bottom: 4px;
        letter-spacing: -0.5px;
        @include media-breakpoint-down(md) {
            text-align: center;
        }
    }
    &-text {
        letter-spacing: -0.38px;
        @include media-breakpoint-down(md) {
            max-width: 500px;
            text-align: center;
        }
    }
}
.list-blog {
    margin-top: 47px;
    @include media-breakpoint-down(sm) {
        flex-direction: column;
        align-items: center;
    }
}
.list-footer-blog {
    display: flex;
    flex-direction: column;
    .list__item + .list__item {
        margin-top: 23px;
    }
    .list__image {
        margin-right: 20px;
    }
    .list__content {
        margin-top: 17px;
    }
    &-title {
        letter-spacing: -0.2px;
    }
    .list__item {
        @include media-breakpoint-down(md) {
            justify-content: flex-start;
        }
    }
}
.list-counter {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    border: 1px solid hsla(120, 120, 120, .3);
    border-top: none;
    border-bottom: none;
    @include media-breakpoint-down(md) {
        grid-template-columns: repeat(3, min(33.3%));
        grid-template-rows: repeat(2, 50%);
    }
    @include media-breakpoint-down(xs) {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, auto);
    }
    .list__item {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding-top: 4em;
        padding-bottom: 5.1em;
        border-right: 1px solid hsla(120, 120, 120, .3);
        &:last-of-type {
            border-right: none;
        }
        @include media-breakpoint-down(md) {
            &:last-of-type {
                grid-column: -1 / -2;
                border-left: 1px solid hsla(120, 120, 120, .3);
            }
            &:nth-of-type(3) {
                border-left: 1px solid hsla(120, 120, 120, .3);
                border-right: 0;
            }
            &:nth-of-type(2) {
                border-right: none;
            }
        }
        @include media-breakpoint-down(sm) {
            &:nth-of-type(-n + 3) {
                padding-bottom: 2em;
            }
            &:nth-of-type(n + 4) {
                padding-top: 2em;
            }
        }
        @include media-breakpoint-down(xs) {
            padding-top: 2em;
            padding-bottom: 0;
            &:last-of-type {
                padding-bottom: 3em;
            }
        }
    }
}

//7.4.03 object
.object { 
    @extend %stretch;
    object-fit: cover;
}

//7.4.04 layers 
.layers {
    $top: 10px;
    $left: 10px;
       
    position: relative;
    @extend %stretch;
    background-color: $icon-color;
    &__image {
        position: relative;
        @extend %stretch;
        transition: .3s;
        &::before {
            opacity: 0;
            transition: opacity .2s;
            @include absolute-pseudo($width: 100%, $height: 100%,);
        }
    }
    &__content {
        position: absolute;
        @include absolute-centering();
        display: none;
        text-align: center;
    }
    &:hover &__image {
        &::before {
            opacity: 1;
            background: $gradient;
        }
    }
    &:hover &__image_offset {
        transform: translate(-$top, -$left);
    }
    &:hover &__content {
        display: block;
    }
}

.layers-about {
    @include media-breakpoint-down(md) {
        .layers__image {
            &:hover {
                transform: none;
            }
            &::before {
                opacity: .7;
                background: hsla(0, 0, 0, .5);
            }
            &:hover::before {
                background: hsla(0, 0, 0, .5);
            }
        }
        .layers__content {
            display: block;
        }
    }
}
.layers-members {
    @include media-breakpoint-down(md) {
        .layers__image {
            transform: none;
            &:hover {
                transform: none;
            }
            &::before {
                opacity: .7;
                background: hsla(0, 0, 0, .5);
            }
            &:hover::before {
                transform: none;
                opacity: .7;
                background: hsla(0, 0, 0, .5);
            }
            .layers__content {
                display: block;
            }
        }
    }
}
.layers-arts {
    @include media-breakpoint-down(md) {
        .arts-grid-icon {
            @include media-breakpoint-up(sm) {
                display: none;
            }
        }
        .arts-grid-text,
        .arts-grid-title {
            @include media-breakpoint-down(md) {
                font-weight: 600;
            }
        }
        .arts-grid-text {
            @include media-breakpoint-down(sm) {
                margin-top: 0;
            }
        }
        .arts-grid-icon {
            @include media-breakpoint-down(sm) {
                margin-bottom: 5px;
            }
        }
        .layers__image {
            transform: none;
            background: hsla(0, 0, 0, .2);
            &:hover {
                transform: none;
            }
            &::before {
                background: hsla(0, 0, 0, .2);
                opacity: .7;
            }
            &:hover::before {
                transform: none;
                opacity: .7;
                background: hsla(0, 0, 0, .2);
            }
            .layers__content {
                display: block;
                text-shadow: 0 0 5px #000;
            }
        }
        
    }
}
//7.4.05 links
.links {
    display: flex;
    justify-content: flex-start;
} 

.links-members {
    .link {
        padding: 14px;
        background-color: $success-color;
        &:hover {
            background-color: $warn-color;
        }
        &:hover svg {
            fill: $icon-light-color;
        }
    }
    .links__item:not(:last-of-type) {
        border-right: 1px solid $warn-color;
    }
}
.blog-item__counter {
    @include media-breakpoint-down(sm) {
        min-width: 100%;
        display: flex;
        justify-content: center;
    }
}

.following__links {
    border-top: 1px solid $dark-color;
    padding-top: 11px;
    align-items: center;
    margin-bottom: 35px;
    @include media-breakpoint-down(xs) {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .links__item {
        margin-right: 13.8px;
        @include media-breakpoint-down(md) {
            margin-right: 18px;
            svg {
                width: 22px;
                height: 22px;
            }
        }
        @include media-breakpoint-down(xs) {
            margin-right: 14px;
            margin-bottom: 15px;
        }
        @media(max-width: 991px) and (orientation: landscape) {
            margin-right: 25px;
        }
    }
    .links__item:hover svg {
        fill: $icon-color-hovered;
    }
}

//7.4.05 haightlight
.highlight {
    position: relative;
    &::before {
        @include absolute-pseudo($width: 60px, $height: 3px);
        background-color: $warn-color;
    }
    &_position_bottom::before{
        @include absolute-centering($top: 100%);
    }
    &_position_bottom-left::before{
        @include absolute-centering($top: 100%, $left: 0);
        @media(max-width: 991px) {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &_position_left::before {
        @include absolute-centering($left: 0);
    }
}
//7.4.06 form
.form {
    &__section {
        border: none;
        padding: 0;
        margin: 0;
    }
    &__email {
        @extend %reset;
        height: 40px;
        max-height: 40px;
        border: 1px solid #e7e7e7;
        flex-basis: 229px;
        padding: 0 10px;
        color: adjust-color($font-dark-color, $lightness: 30%);
        &:focus {
            border: 1px solid $icon-color;
        }
        &::placeholder {
            font: {
                size: 15px;
                style: italic;
            }
            color: #d2d2d2;
        }
    }
    &__submit {
        @extend %reset;
        font-family: $titleFont;
        flex-basis: 150px;
        padding: 0 15px;
        height: 40px;
        max-height: 40px;
        background-color: $icon-color;
        transition: ease-in .2s;
        text-transform: uppercase;
        color: $light-color;
        font-weight: 700;
        font-size: 14px;
        cursor: pointer;
        &:hover {
            background-color: $icon-color-hovered;
        }
    }
}
.form-subscribe {
    .form__section {
        display: flex;
        @include media-breakpoint-down(xs) {
            flex-direction: column;
            max-width: 300px;
        }
    }
}
