$distance: 60;
$invert-distance: $distance * -1;

// the main colors
$base-color: hsl(87, 100%, 91%);
$info-color: adjust-color($base-color, $hue: 82, $saturation: -44%, $lightness: -18%);
$warn-color: adjust-color($base-color, $hue: -87, $saturation: -17%, $lightness: -18%);
$warn-color-hovered: adjust-color($warn-color, $lightness: -20%, $hue: -10, $saturation: -20%);
$success-color: adjust-color($base-color, $hue: -40, $saturation: -5%, $lightness: -15%);
$disable-color: #f8f8f8;
$light-color: #fff;
$dark-color: #999;

// font-color
$font-color: #999;
$font-dark-color: #000;
$font-light-color: #fff;
$font-disable-color: #faf3dc;

$gray-color: #f4f4f4;

//border-color
$border-disable-color: #e5e5e5;


//icon-color (for svg)
$icon-color: #95e1d3;
$icon-color-hovered: adjust-color($icon-color, $lightness: -20%);
$icon-disable-color: #ccc;
$icon-light-color: #fff;


// gradient
$gradient: linear-gradient(to bottom, change-color($warn-color, $alpha: 0.9), change-color($success-color, $alpha: 0.9));

/* 
Example:
   @alert-primary-bg: lighten(@base-color, 35%);
   @alert-primary-border: darken(spin(@alert-primary-bg, -10), 5%);
   @alert-primary-text: darken(@alert-primary-bg, 50%); */