.icon {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    fill: $icon-color;
    transition: .2s ease-in;
}

.icon_color_light {
    fill: $icon-light-color;
}
.icon_color_disable {
    fill: $icon-disable-color;
}

.icon_warn_color {
    fill: $warn-color;
}

.icon_size {
    &_mini {
        width: 16px;
        height: 16px;
    }
    &_extrasmall {
        width: 20px;
        height: 20px;
    }
    &_small {
        width: 22px;
        height: 22px;
    }
    &_medium {
        width: 26px;
        height: 26px;
    }
    &_big {
        width: 32px;
        height: 32px;
    }
    &_large {
        width: 63px;
        height: 63px;
    }
}

.icon_menu {
    width: 18px;
    height: 18px;
    &:hover {
        fill: $success-color;
    }
}